/* KEEP THIS I WILL FIX LATER, light mode looks terrible */
/* @media (prefers-color-scheme: dark) {
        :root {
          --main-color: #000000;
          --card-color: #333333;
        }
      }

      @media (prefers-color-scheme: light) {
        :root {
          --main-color: #cccccc;
          --card-color: #ffffff;
        }
      } */

:root {
  --main-color: #000000;
  --card-color: #333333;
  --accent-green: #00ff80;
}

* {
  font-size: 16px;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  /* text-box-trim: trim-both;
  text-box-edge: cap alphabetic; */
}

@font-face {
  font-family: "San Fransisco";
  src: url("Fonts/SF-Pro-Display-Bold.otf");
  font-weight: 900;
}
@font-face {
  font-family: "San Fransisco";
  src: url("Fonts/SF-Pro-Display-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "San Fransisco Mono";
  src: url("Fonts/SFMono-Regular.otf");
  font-weight: 500;
}

html {
  scrollbar-width: none;
}

body {
  font-family: "San Fransisco", sans-serif;
  background-color: var(--card-color);
  margin: 0px;
  padding: 0px;
}

nav {
  position: fixed;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: hidden;
  z-index: 1000;
  padding: 1.25rem 1rem;
  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 2rem;
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
}

nav > * {
  display: contents;
}

svg {
  width: 2rem;
  height: 2rem;
}

.media-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media (orientation: portrait) {
  #live-feed,
  #image-preview {
    width: -webkit-fill-available;
    height: auto;
  }
}

@media (orientation: landscape) {
  #live-feed,
  #image-preview {
    height: -webkit-fill-available;
    width: auto;
  }
}

#live-feed,
#image-preview {
  border-radius: 2rem;
  object-fit: contain;
}

#live-feed {
  /* opacity: 0.5; */
}

#image-preview {
  opacity: 0.5;
}

#fileInput {
  display: none;
}

.mono {
  font-family: "San Fransisco Mono";
}

#install-btn {
  display: none;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  color: #000;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}
