@font-face {
  font-family: "San Fransisco";
  src: url("Fonts/SF-Pro-Display-Regular.otf");
}
@font-face {
  font-family: "San Fransisco Mono";
  src: url("Fonts/SFMono-Regular.otf");
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: "San Fransisco", inter;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #000000;
}

svg {
  width: 32px;
  height: 32px;
  stroke: #ffffff;
}

.hidden {
  opacity: 0 !important;
}

.removed {
  display: none !important;
}

.glassy {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(16px);
  transition: background 0.1s ease-in-out;
  border-radius: 32px;
}

.glassy:active {
  background: rgba(255, 255, 255, 0.35);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: none;
}

.button:has(> :not(.removed) ~ :not(.removed)) {
  padding: 8px 12px;
  gap: 12px;
}

#controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px;
}

#shutter {
  width: 80px;
  height: 80px;
  background-color: #ffffff;
  border-radius: 40px;
  /* Remove transition by default */
}

#shutter:active {
  background-color: #808080;
  /* No transition while active */
}

#shutter:not(:active) {
  transition: background-color 0.1s ease-in-out;
}

/* no rotation */
#controls[orientation="0"] {
  height: calc(100dvh - 64px);
  width: calc(100dvw - 64px);
  /* transform: translate(-50%, -50%) rotate(0deg);
  position: absolute;
  top: 50%;
  left: 50%; */
}

#controls[orientation="0"] svg {
  transform: rotate(0deg);
}

/* rotate phone left */
#controls[orientation="-90"] {
  height: calc(100dvw - 64px);
  width: calc(100dvh - 64px);
  transform: translate(-50%, -50%) rotate(-90deg);
  position: absolute;
  top: 50%;
  left: 50%;
}

#controls[orientation="-90"] svg {
  transform: rotate(90deg);
}

/* rotate phone right */
#controls[orientation="90"] {
  height: calc(100dvw - 64px);
  width: calc(100dvh - 64px);
  transform: translate(-50%, -50%) rotate(90deg);
  position: absolute;
  top: 50%;
  left: 50%;
}

#controls[orientation="90"] svg {
  transform: rotate(-90deg);
}

/* rotate phone upside down */
#controls[orientation="180"] {
  height: calc(100dvh - 64px);
  width: calc(100dvw - 64px);
  transform: translate(-50%, -50%) rotate(180deg);
  position: absolute;
  top: 50%;
  left: 50%;
}

#controls[orientation="180"] svg {
  transform: rotate(180deg);
}

#controls > * {
  display: flex;
  justify-content: space-between;
}

#controls > #bottom {
  align-items: flex-end;
}

#cameraPreview,
#imagePreview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

#imagePreview {
  opacity: 50%;
}

#video-blur {
  /* top: 0; */
  /* left: 0; */
  /* object-fit: cover; */

  position: fixed;
  inset: 0;
  width: 100dvw;
  height: 100dvh;
  z-index: -1;
  pointer-events: none;
  /* filter: blur(64px); */
  transform: scale(1.25);
}
